$primary: #171614;
$background: #fff;
$text-primary: #fff;
$text-secondary: #171614;
$border: #808080;
$form-bg: #000;

body {
    background-color: $primary;
}

p {
    color: $text-primary;
    margin-bottom: 0;
}

label {
    margin: 8px 0;
    font-weight: 600;
}

.form-control {
    border-radius: 6px;
    border: 1px solid $border;
    background: $form-bg;
    color: $text-primary;
}

hr {
    color: $border;
}

.btn {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
}