:root{
    --base-color: #171614;
    --base-variant: #000000;
    --text-color: #ffffff;
    --text-opacity-color: rgb(255, 255, 255, 0.55);
    --text-shadow: #000000;
    --primary-color: #171614;
    --gradient-start: #6717cd;
    --gradient-end: #2871fa;
}

.lightmode {
    --base-color: #e5e5e5;
    --base-variant: #ffffff;
    --text-color: black;
    --text-opacity-color: black;
    --text-shadow: #ffffff;
    --primary-color: #ffffff;
    --gradient-start: #6717cd;
    --gradient-end: #2871fa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}

/* Navigation */
nav {
    background-color: var(--base-color);
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: var(--text-color);
}

/* Footer */
footer {
    background-color: var(--base-color);
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    transition: all 500ms ease;
}
.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer_section {
    vertical-align: top;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.footer_list_item {
    display: inline-block;
    text-align: left;
    padding-right: 5%;
    padding-left: 10%;
}
.footer_link {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}

.footer_link:hover {
    opacity: 0.5;
    transition: all 200ms ease-in;
}
