form {
    border: 3px solid #f1f1f1;
    text-align: center;
    vertical-align: middle;
    margin: 20% 10%;
}

.login_div {
    background-color: #171614;
    color: #f1f1f1;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    
}

.login_username_div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
  
.login_password_div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.login_accessories_div {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

input[type=text], input[type=password] {
    width: 100%;
}